.img{
    height: 80vh;
}
.btn{
    background-color: rgba(189, 69, 245, 0.519);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 40px)
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 55555;
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
    clear: both; 
  }
  
  footer p {
    margin: 0; 
  }